amqp==2.6.1
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
billiard==3.6.3.0
celery==4.4.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==3.1.1
defusedxml==0.7.0rc1
distlib==0.3.1
Django==3.0.10
django-celery==3.3.1
django-extensions==2.2.5
django-urlconf-export==1.1.1
django-urls==1.1.3
easy-thumbnails==2.7
filelock==3.0.12
idna==2.10
isort==5.5.2
kombu==4.6.11
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.1.0
Pillow==7.0.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.6.0
pyOpenSSL==19.0.0
python-dotenv==0.14.0
python3-openid==3.2.0
pytz==2020.1
redis==3.4.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.11
vine==1.3.0
virtualenv==20.0.35
Werkzeug==0.16.0
wrapt==1.12.1
